#
# Copyright (c) 2023 Qualcomm Technologies, Inc.
# All Rights Reserved.
# Confidential and Proprietary - Qualcomm Technologies, Inc.
#

on post-fs-data
    start qccsyshal_aidl-service

service qccsyshal_aidl-service /system_ext/bin/qccsyshal_aidl-service
    class hal
    user system
    group misc system
    interface aidl vendor.qti.qccsyshal_aidl
